{% extends 'layouts/general-layout.html' %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block banner %}
<section class="relative w-full h-[320px] md:h-[420px] lg:h-[500px] overflow-hidden ">

  <!-- Imagen -->
  <img 
    src="{% static 'img/banner.png' %}" 
    alt="Banner principal del sitio"
    fetchpriority="high"
    loading="eager"
    class="w-full h-full object-cover mt-3"
  >

  <!-- Contenido centrado -->
  <div class="absolute inset-0 flex items-center justify-center bg-black/10">
    <h1 class="text-orange-600 text-3xl md:text-5xl font-extrabold tracking-wide drop-shadow-lg">
      Programa con Pasión
    </h1>
  </div>

</section>
{% endblock banner %}




{% block content %}

<!-- Encabezado -->
<div class="text-center my-12 px-4">
  <h2 class="text-3xl md:text-4xl font-extrabold text-brand mb-3 text-orange-600">
    Aprende, Comparte y Cuida a tu Mascota
  </h2>
  <p class="text-gray-700 max-w-3xl mx-auto text-lg">
    Bienvenido al Blog de Mascotas, donde encontrarás consejos, historias,
    cuidados, productos y experiencias reales de dueños y amantes de los animales.
  </p>
</div>

<div class="max-w-7xl mx-auto px-4">

  <!-- BLOQUE 1 -->
  <div class="grid md:grid-cols-2 gap-10 items-center mb-16">
    
    <!-- Imagen -->
    <img
      src="{% static 'img/img.jpg' %}"
      alt="Mascotas felices"
      class="rounded-2xl shadow-lg w-full object-cover"
    />

    <!-- Texto -->
    <div>
      <h3 class="text-2xl font-bold text-brand mb-3 text-orange-600">Historias</h3>
      <p class="text-gray-600 leading-relaxed">
        Descubre historias de adopciones, rescates y proyectos solidarios que
        mejoran la vida de cientos de mascotas. Cada relato inspira y enseña
        a ser mejores cuidadores.
      </p>
    </div>

  </div>



  <!-- BLOQUE 2 (texto izquierda, imagen derecha) -->
  <div class="grid md:grid-cols-2 gap-10 items-center mb-16">
    
    <!-- Texto -->
    <div class="order-2 md:order-1">
      <h3 class="text-2xl font-bold text-brand mb-3 text-orange-600">Guías y Cuidados</h3>
      <p class="text-gray-600 leading-relaxed">
        Aprende sobre baños, vacunas, alimentación y entrenamiento.
        Nuestros tutoriales te ayudarán a crear hábitos saludables y mejorar
        la calidad de vida de tu mascota.
      </p>
    </div>

    <!-- Imagen -->
    <img
      src="{% static 'img/imag_.jpg' %}"
      alt="Cuidado de mascotas"
      class="rounded-2xl shadow-lg w-full object-cover order-1 md:order-2"
    />

  </div>



  <!-- BLOQUE 3 -->
  <div class="grid md:grid-cols-2 gap-10 items-center mb-16">
    
    <!-- Imagen -->
    <img
      src="{% static 'img/cumunidad.jpg' %}"
      alt="Comunidad de mascotas"
      class="rounded-2xl shadow-lg w-full object-cover"
    />

    <!-- Texto -->
    <div>
      <h3 class="text-2xl font-bold text-brand mb-3 text-orange-600">Comunidad PetLovers</h3>
      <p class="text-gray-600 leading-relaxed">
        Únete a una comunidad donde puedes hacer preguntas, compartir consejos,
        publicar fotos de tus mascotas y ayudar a otros dueños con tus experiencias.
      </p>
    </div>

  </div>

    <!-- BLOQUE 2 (texto izquierda, imagen derecha) -->
  <div class="grid md:grid-cols-2 gap-10 items-center mb-16">
    
    <!-- Texto -->
    <div class="order-2 md:order-1">
      <h3 class="text-2xl font-bold text-brand mb-3 text-orange-600">Tipos de mascotas</h3>
      <p class="text-gray-600 leading-relaxed">
        Aprende sobre baños, vacunas, alimentación y entrenamiento.
        Nuestros tutoriales te ayudarán a crear hábitos saludables y mejorar
        la calidad de vida de tu mascota.
      </p>
    </div>

    <!-- Imagen -->
    <img
      src="{% static 'img/img5.jpg' %}"
      alt="Cuidado de mascotas"
      class="rounded-2xl shadow-lg w-full object-cover order-1 md:order-2"
    />

  </div>

</div>

{% endblock content %}


