{% extends 'layouts/general-layout.html' %}

{% block title %}Eliminar comentario{% endblock title %}

{% block content %}
<div class="container mt-4">

    <h3 class="mb-3 text-danger">¿Eliminar comentario?</h3>

    <div class="alert alert-warning">
        ¿Seguro que deseas eliminar este comentario?  
        <br>
        <strong>"{{ object.contenido }}"</strong>
    </div>

    <form method="POST">
        {% csrf_token %}
        
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'posts:articulo_detalle' object.articulo.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>

</div>
{% endblock content %}
